@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout-sider-trigger {
    background: inherit !important;
    border-right: 1px solid #e5e7eb;
}

.ant-layout-sider-trigger span {
    color: black;
}
